:root {
  --bg: hsl(0 0 100);
  --txt: hsl(0 0 30);
  --ff: sans-serif;
  --ff-body: 1rem/1.5em var(--ff);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  font: var(--ff-body);
  color: var(--txt);
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}