:root {
  --bg: hsl(0 0 100);
  --txt: hsl(0 0 30);
  --ff: sans-serif;
  --ff-body: 1rem/1.5em var(--ff);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  font: var(--ff-body);
  color: var(--txt);
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--txt);
  padding: .5rem;
  background-color: var(--bg);
}

header .search-bar {
  width: 32rem;
  padding: .25rem
}

header nav ul {
  display: flex;
  gap: 1rem;
}

.container {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
}

main .video-grid {
  display: grid;
  grid-template-columns: 287px 287px 287px 287px;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 1rem;
  border: 1px solid var(--txt);
  width: 77rem;
  padding: 1rem;
}

main .video-grid .video-card {
  border: 1px solid var(--txt);
}

main .video-primary {
  border: 1px solid var(--txt);
}

main .video-primary .video-details {
  padding: 1rem;
}

main .video-primary .video-box {
  padding: 1rem;
  margin-top: 1rem;
}

main .video-primary .video-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--txt);
}

main .video-primary .video-description {
  overflow-y: auto;
  border: 1px solid var(--txt);
  max-height: 500px
}

main .video-primary .comment-section {
  border: 1px solid var(--txt);
}

main .video-related {
  border: 1px solid var(--txt);
  width: 22rem;
  padding: 0 1rem;
}

.home-return-link {
  margin: 1rem;
}

main .container-account {
  display: flex;
  gap: 2rem;
  min-height: 80vh;
}

main .account-box {
  border: 1px solid var(--txt);
  width: 35rem;
  padding: 1rem;
}

main .account-box input,
main .account-box button {
  display: block;
  margin-top: .5rem;
  width: 100%;
  padding: .5rem;
}

aside {
  order: -1;
  border-right: 1px solid var(--txt);
  width: 10rem;
  padding: 1rem;
  background-color: var(--bg);
}

footer {
  margin-top: auto;
  border-top: 1px solid var(--txt);
  padding: .5rem;
  text-align: center;
}