:root {
  --bg: hsl(0deg 0 100);
  --txt: hsl(0deg 0 0);
  --ff: sans-serif;
  --ff-default: 1rem/1.5em var(--ff);
  --ff-h1: bold 2rem/1.5em var(--ff);
  --ff-h2: bold 1.25rem/1.5em var(--ff);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  display: grid;
  flex-grow: 1;
  grid-template:
    'header header'
    'sidebar main'
    'footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 10rem 1fr;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--txt);
  font: var(--ff-default);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  font: var(--ff-h1)
}

h2 {
  font: var(--ff-h2)
}

ul {
  list-style: none;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: red;
}

header ul {
  display: flex;
  gap: 1rem;
}

header .search-bar {
  width: 35rem;
  padding-left: .25rem;
}

.sidebar {
  grid-area: sidebar;
  padding: .25rem 1rem;
  background-color: lime;
}

footer {
  grid-area: footer;
  padding: .5rem;
  background-color: cyan;
  text-align: center;
}