.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100dvh;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header-start,
.header-end {
  display: flex;
  align-items: center;
}

.header__btn {
  min-height: 44px;
  padding: .5rem .755rem;
  border: none;
  background: none;
}

footer {
  padding: .5rem;
  background-color: white;
}

footer * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}