.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100dvh;
}

button {
  min-height: 44px;
  padding: .5em .75em;
  border: none;
  background: none;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header-start,
.header-end {
  display: flex;
  align-items: center;
}

.video-card__meta-item::before {
  margin: 0 .5rem;
  font-size: .75rem;
  content: "•";
}

.video-card__meta-item:first-child::before {
  margin: 0;
  content: none;
}

.video-actions,
.video-actions__channel,
.video-actions__utilities,
.video-actions__rating,
.video-actions__btn--rate {
  display: flex;
  align-items: center;
}

.video-actions {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5rem
}

.video-actions__channel,
.video-actions__utilities {
  gap: 1rem;
}

.video-actions__btn {
  background-color: gainsboro;
}

.video-actions__btn--follow {
  padding: 0 2em;
  background-color: black;
  color: white;
}

.video-actions__btn--rate {
  gap: 1rem;
}

.comment__actions,
.comment__btn {
  display: flex;
  align-items: center;
  gap: .5rem
}

.comment__btn {
  background: grey;
}

aside {
  display: none;
}

footer {
  padding: .5rem;
  background-color: white;
}

footer * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}