:root {
  --clr-surface: hsl(0deg 0 10);
  --clr-content: hsl(0deg 0 95);
  --color-accent: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100dvh;
  background-color: var(--clr-surface);
  color: var(--clr-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-wrap: balance;
}

p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  background-color: red;
}

header div {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.sidebar {
  display: none;
}

footer {
  padding: .5rem;
  background-color: var(--color-accent);
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem
}