<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tubstr</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  </head>
  <body>
    <main>
      <!-- * Video Grid -->
      <div class="grid-video">
        <div class="card-video">
          <img
            class="thumbnail"
            src="/assets/img/thumbnail-plok-akrillic-oscilloscope-view.webp"
            alt="Video thumbnail"
            width="360"
            height="202"
          />
          <div class="video-info">
            <h3>Plok - Akrillic (Oscilloscope View)</h3>
            <div class="video-meta">
              <a class="channel" href="#">ct88910</a
              ><span class="video-views">60971 views</span
              ><span class="video-date">Oct 15, 2025</span>
            </div>
          </div>
        </div>
      </div>

      <!-- * Video Primary -->
      <div class="video-primary">
        <video controls autoplay width="360" height="202">
          <source
            src="/assets/media/plok-akrillic-oscilloscope-view.mp4"
            type="video/mp4"
          />
        </video>
        <section class="video-details">
          <h1>Plok! - Akrillic (Oscilloscope View)</h1>
          <div class="video-actions">
            <div class="video-actions-channel">
              <a class="channel" href="#">ct88910</a>
              <button class="btn-follow">Follow</button>
            </div>
            <div class="video-actions-utilities">
              <button id="btn-like">
                <svg class="bi" width="24" height="24">
                  <use
                    xlink:href="/assets/icons/bootstrap-icons.svg#hand-thumbs-up"
                  />
                </svg>
              </button>
              <button id="btn-dislike">
                <svg class="bi" width="24" height="24">
                  <use
                    xlink:href="/assets/icons/bootstrap-icons.svg#hand-thumbs-down"
                  />
                </svg>
              </button>
              <button id="btn-share">
                <svg class="bi" width="24" height="24">
                  <use xlink:href="/assets/icons/bootstrap-icons.svg#share" />
                </svg>
              </button>
            </div>
          </div>
          <div class="video-description">
            <div class="video-meta">
              <span class="video-views">60971 views</span
              ><span class="video-date">Oct 15, 2025</span>
            </div>
            <p>
              Another Plok redo. Gonna have to plug it on the old video now.
              Song: Akrillic Game: Plok! Year: 1993 System: SNES Composer: Tim
              Follin Visuals created in jimbo1qaz's corrscope. Settings (assume
              default if not listed): Trigger Width (ms): 60 Creative Commons
              Attribution license (reuse allowed)
            </p>
          </div>
          <div class="video-comments">
            <h2>Comments</h2>
            <article class="comment-content">
              <a class="comment-author" href="#">TheEx-Boxgamer</a>
              <p>
                A journey into the mind of a true musical genius. Tim had no
                formal training, just God-given raw unbridled talent as well as
                technical mastery of the chiptune arts! 10/10. Also 3:47 loop
                length, unheard of for the 16-bit era.
              </p>
            </article>
            <div class="comment-actions">
              <button id="btn-like">
                <svg class="bi" width="24" height="24">
                  <use
                    xlink:href="/assets/icons/bootstrap-icons.svg#hand-thumbs-up"
                  />
                </svg>
              </button>
              <button id="btn-dislike">
                <svg class="bi" width="24" height="24">
                  <use
                    xlink:href="/assets/icons/bootstrap-icons.svg#hand-thumbs-down"
                  />
                </svg>
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
